In [28]:
# 1. Soma dos 5 primeiros inteiros positivos
soma = sum(range(1, 6))  
print(soma)

15

In [29]:
# 2. Idade média de Sara, Mark e Fátima
idades = [23, 19, 31]
media_idades = sum(idades) / len(idades)
print(media_idades)

24.333333333333332

In [36]:
# 3. Quantas vezes 73 cabe em 403
divisao_inteira = 403 // 73  
print(divisao_inteira)

5

In [40]:
# 4. Resto da divisão de 403 por 73
resto = 403 % 73  
print(resto)

38

In [39]:
# 5. 2 elevado à 10ª potência
potencia = 2 ** 10  
print(potencia)

1024

In [38]:
# 6. Valor absoluto da diferença entre as alturas de Sara e Mark
altura_sara = 54
altura_mark = 57
distancia = abs(altura_sara - altura_mark)
print(distancia)

3

In [37]:
# 7. Menor preço entre R$ 34,99, R$ 29,95 e R$ 31,50
menor_preco = min(34.99, 29.95, 31.50)
print(menor_preco)

29.95

In [41]:
a = 3
b = 4

c = a * a + b * b
print(c)

25

In [53]:
s1 = "ant"
s2 = "bat"
s3 = "cod"

# Linha 1
print(f"{s1} {s2} {s3}")

# Linha 2 (10 repetições de s2)
print(" ".join([s2] * 10))

# Linha 3
print(f"{s1} {' '.join([s2] * 2)} {' '.join([s3] * 3)}")

# Linha 4 (7 repetições de "s1 s2")
print(" ".join([f"{s1} {s2}"] * 7))

# Linha 5 (5 repetições de "s2s2s3")
print(" ".join([f"{s2}{s2}{s3}"] * 5))

ant bat cod
bat bat bat bat bat bat bat bat bat bat
ant bat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

In [55]:
s = '0123456789'

print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[9])

0
1
6
8
9